{% extends 'base_list.html' %}

{% block title %}小组管理{% endblock %}

{% block content %}
    <h1>小组管理</h1>

    <p><a href="{% url 'create_group' %}" class="btn btn-primary">添加</a></p>  <!-- 创建小组的链接 -->

    <form method="POST">
        {% csrf_token %}
        
        <table class="employee-list">
            <thead>
                <tr>
                    <th>小组名称</th>
                    <th>所属部门</th>
                    <th>组长</th>
                    <th>小组成员</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for group in groups %}
                    <tr>
                        <td>{{ group.name }}</td>
                        <td>{{ group.department }}</td>
                        <td>
                            {% if group.leader %}
                                {{ group.leader.name }} (ID: {{ group.leader.id }})
                            {% else %}
                                无组长
                            {% endif %}
                        </td>

                        <td>
                            <ul>
                                {% for member in group.members_list %}
                                    <li>{{ member.name }}(ID: {{ member.id }})</li>
                                {% empty %}
                                    <li>无成员</li>
                                {% endfor %}
                            </ul>
                        </td>

                        <td class="button-container">
                            <!-- 添加组员 -->
                            <a href="{% url 'add_member_to_group' pk=group.id %}" class="btn btn-primary">更改</a>

                            <!-- 任命组长 -->
                            <a href="{% url 'assign_group_leader' pk=group.id %}" class="btn btn-primary">任命</a>

                            <!-- 删除小组链接 -->
                            <a href="{% url 'delete_group' pk=group.id %}" class="btn btn-danger">删除</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}
