{% extends 'base_list.html' %}

{% block title %}小组管理{% endblock %}

{% block header %}
    <nav>
        <ul>
            <li><a href="{% url 'logout' %}">登出</a></li>
            <li><a href="{% url 'employee_frontpage' %}">个人信息</a></li>
            <li><a href="{% url 'sign' %}">签到签退</a></li>
            <li><a href="{% url 'attendance_list' %}">考勤表单</a></li>
            <li><a href="{% url 'employee_list' %}">员工管理</a></li>
            <li><a href="{% url 'group_management' %}">小组管理</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <h1>小组管理</h1>

    <div class="content-wrapper">
        <!-- 过滤表单部分 -->
        <div class="filter-form">
            <h2>筛选器</h2>
            <form method="get">
                {{ form.as_p }}  <!-- 渲染表单字段 -->
                <button type="submit">筛选</button>
            </form>
        </div>
        <!-- 小组列表表格部分 -->
        <div class="button-container">
            <a href="{% url 'create_group' %}" class="btn btn-primary">添加</a>
            
        </div>
        <!-- 小组列表表格部分 -->
        <div class="employee-list">
            <table>
                <thead>
                    <tr>
                        <th>小组ID</th>
                        <th>小组名称</th>
                        <th>部门</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                        <tr>
                            <td>{{ group.id }}</td>
                            <td>{{ group.name }}</td>
                            <td>{{ group.department }}</td>
                            <td>
                                <div class="button-container">
                                    <a href="{% url 'group_detail' pk=group.id %}" class="btn btn-primary">详情</a>
                                    <a href="{% url 'assign_group_leader' pk=group.id %}" class="btn btn-primary">任命</a>
                                    <a href="{% url 'delete_group' pk=group.id %}" class="btn btn-danger">删除</a>
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">没有符合筛选条件的小组</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
