{% extends 'base.html' %}

{% block header %}
    <nav>
        <ul>
            
            <li><a href="{% url 'logout' %}">登出</a></li>
            <li><a href="{% url 'employee_frontpage' %}">个人信息</a></li>
            <li><a href="{% url 'sign' %}">签到签退</a></li>
            <li><a href="{% url 'attendance_list' %}">考勤表单</a></li>
            {% if not is_employee %}
                <!-- 显示员工管理按钮 -->
                <li><a href="{% url 'employee_list' %}">员工管理</a></li>
                <li><a href="{% url 'group_management' %}">小组管理</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block title %}员工信息{% endblock %}

{% block content %}
<h2>重置密码</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">重置密码</button>
</form>
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}

